@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
  background: #92fa84;
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Poppins', sans-serif;
  margin-left: 10rem;
  padding: 1rem;
}

.navigation {
	width: 8em;
	height: 100vh;
	background-color: black;
	position: fixed;
}

.navigation ul {
	position: relative;
}

.navigation ul li {
	list-style: none;
	background-color: black;
}

.navigation ul li a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
	padding: 1rem 1rem;
	display: inline-flex;
	font-weight: 200;
	transition: 0.5s;
	font-family: 'Poppins', sans-serif;
}

.navigation ul li:hover a {
	color: black;
	background: #fff;
}

.navigation ul:hover li a {
	color: #000;
}
