@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
}

.navigation ul {
	position: relative;
}

.navigation ul li {
	text-align: center;
	list-style: none;
}

.navigation ul li a {
	color: black;
	text-decoration: none;
	font-size: 2em;
	padding: 5px 20px;
	display: inline-flex;
	font-weight: 500;
	transition: 0.5s;
}

.navigation ul li:hover a {
	color: #000;
	background: #fff;
}

.navigation ul:hover li a {
	color: #0002;
}

.navigation ul li a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 40%;
	display: flex;
	justify-content: center;
	transform: translate(-50%, -50%);
	align-items: center;
	font-size: 5em;
	color: rgba(0,0,0,.1);
	border-radius: 50%;
	z-index: -1;
	opacity: 0;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 500px;
	transition: letter-spacing 0.5s, left 0.5s;
}

.navigation ul li a:hover:before {
	content: attr(data-text);
	opacity: 1;
	letter-spacing: 10px;
	width: 1800px;
	height: 1800px;
}

.navigation ul li:nth-child(6n+1) a:before {
	background: #81ecec;
}

.navigation ul li:nth-child(6n+2) a:before {
	background: #92fa84;
}
