@keyframes floating {
	0% {transform: translateY(0px);}
	50% {transform: translateY(-5px);}
	100% {transform: translateY(0px);}
}

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: #92fa84;
}

main {
	font-family: 'Poppins', sans-serif;
	margin-left: 10rem;
	padding: 1rem;
}

.navigation {
	width: 8em;
	height: 100vh;
	background-color: black;
	position: fixed;
}

.navigation ul {
	position: relative;
}

.navigation ul li {
	list-style: none;
	background-color: black;
}

.navigation ul li a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
	padding: 1rem 1rem;
	display: inline-flex;
	font-weight: 200;
	transition: 0.5s;
	font-family: 'Poppins', sans-serif;
}

.navigation ul li:hover a {
	color: black;
	background: #fff;
}

.navigation ul:hover li a {
	color: #000;
}

.botInvite {
	color: white;
	background-color: red;
	text-align: center;
	padding: 10px 20px 10px 20px;
	font-family: Roboto, Arial, sans-serif;
	text-decoration: none;
	align-self: center;
  text-align: center;
  justify-content: center;
}

.botInvite:hover {
	animation-name: buttonani;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	transition: all .25s ease-in-out;
}

.joinDiscord {
	color: white;
	background-color: orange;
	text-align: center;
	padding: 10px 20px 10px 20px;
	border: 1px;
	font-family: Roboto, Arial, sans-serif;
	font-style: bold;
	text-decoration: none;
	font-weight: 20px;
	align-content: center;
  justify-content: center;
  text-align: center;
}

.joinDiscord:hover {
	animation-name: buttonani;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	transition: all .25s ease-in-out;
}

@keyframes buttonani {
	0% {background-color: #db8f0f;}
	25% {background-color: red;}
	50% {background-color: purple;}
	75% {background-color: blue;}
	100% {background-color: grey;}
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-trackbar {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #6649b8;
}
